<div class="jumbotron">
  <h1>Welcome to Towsonbook</h1>
  <p>Fulfilling the final project requirement for COSC 617, Advanced Web Development</p>
  <a type="button" class="btn btn-lg btn-primary" href="/people">Get Started</a>
</div>
