<div class="jumbotron">
  <h1>Welcome to Towsonbook</h1>
  <p>Final Project for COSC 617, Advanced Web Development</p>
  <a type="button" class="btn btn-lg btn-primary" href="/people">Get Started</a>
</div>
<div class="row">
  <div class="col-lg-4">
    <h4>Find and Make Friends</h4>
    <p>
      TowsonBook makes it easier than ever to find people around campus and get in touch. Who will you friend today?
    </p>
    <p>
      To get started, sign up and begin seaching for interesting people.
    </p>
  </div>
  <div class="col-lg-4">
    <h4>Edit Your Profile</h4>
    <p>
      Add some interesting facts to your profile. What kind of movies do you like?
    </p>
    <p>
      To get started, sign up and begin editing your profile now.
    </p>
  </div>
  <div class="col-lg-4">
    <h4>Join Groups</h4>
    <p>
      Groups are a great way for people to come together. You can create, edit, and leave groups at will.
    </p>
    <p>
      Wall posts to groups will be coming soon to TowsonBook. Stay tuned!
    </p>
  </div>
</div>
